[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
psycopg2-binary = "*"
python-dotenv = "*"
qrcode = "*"
Pillow = "*"
Flask-JWT-Extended = "*"
Flask-Cors = "*"
bcrypt = "*"
paystackapi = "*"

[dev-packages]

[requires]
python_version = "3.8.13"